/* COMIENZO FOOTER */
footer {
    margin-top: 5px;
    background-color: rgb(226, 224, 224);
    border-top: solid 2px black;
}

.logo-foot img {
    width: 50px;
}

.redes-foot {
    font-size: 12px;
}
/* FIN FOOTER */